<h1>Add a Contact</h1>
<form action='/contacts' method='post'>
  <label for='new-contact-name'>Name: </label>
  <input id='new-contact-name' name='new-contact-name' type='text'>
  <label for='new-phone-num'>Phone Number: </label>
  <input id='new-phone-num' name='new-phone-num' type='text'>
  <label for='new-address'>Street Address: </label>
  <input id='new-address' name='new-address' type='text'>
  <label for='new-email'>Email Address: </label>
  <input id='new-email' name='new-email' type='text'>

  <button type='submit'>Add This Contact</button>
</form>
