<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Created!</title>
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../Content/css/styles.css" media="screen" charset="utf-8">
  </head>
  <body>
    <h1>You created a contact!</h1>
    <div id="new-contact">
    <p><b>Name:</b> @Model.GetFullName()<p>
    <p><b>Phone Number:</b> @Model.GetPhoneNum()<p>
    <p><b>Street Address:</b> @Model.GetAddress().AddressToString()<p>
    <p><b>Email Address:</b> @Model.GetEmail()<p>
    </div>
    <p><a href="/new">Add another Contact</a></p>
    <p><a href="/">Back to Main Page</a></p>
  </body>
</html>
