<h1>Contact Details</h1>
<p>Name: @Model.GetName()<p>
<p>Phone Number: @Model.GetPhoneNum()<p>
<p>Street Address: @Model.GetAddress()<p>
<p>Email Address: @Model.GetEmail()<p>

<p><a href="/new">Add another Contact</a></p>
<p><a href="/">Back to Main Page</a></p>
