<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Can't Be Created</title>
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../Content/css/styles.css" media="screen" charset="utf-8">
  </head>
  <body>
    <h1>Sorry, your contact couldn't be created.</h1>
    <p><b>Please provide a name for your contact.</b></p>
    <p><a href="/new">Add another Contact</a></p>
    <p><a href="/">Back to Main Page</a></p>
  </body>
</html>
