<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Contact List</title>
    <link rel="stylesheet" href="../Content/css/bootstrap.min.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="../Content/css/styles.css" media="screen" charset="utf-8">
  </head>
  <body>
    <h1>Your Contact List</h1>
    <ul>
      @foreach(var contact in Model)
      {
        <li><a href="contacts/@contact.GetId()">@contact.GetFullName()</a></li>
      }
    </ul>
    <p><a href="/new">Add a Contact</a></p>
    <form action="/contacts_deleted" method="post">
      <button type="submit" name="button">Clear All Contacts</button>
    </form>
    <form action="/search_results" method="post">
      <label for="search-name">Search for a contact by name: </label>
      <input name="search-name" id="search-name" type="text">
      <button type="submit" name="button">Search</button>
    </form>
  </body>
</html>
